In [2]:
%run ejercicio1.py

 - Nombre: Guillermo - Salario Base: 400.0
 - Nombre: Alan - Salario Base: 500- Ventas: [100, 150, 80] - Salario total: 533.0
 - Nombre: Manuel - Salario Base: 400.0
 - Nombre: Alan - Salario Base: 500- Ventas: [100, 150, 80, 200, 50] - Salario total: 558.0

In [79]:
%run ejercicio2.py

Dime el nombre de la tapa:  s
Dime el precio unitario de la tapa:  3
Dime la cantidad vendida de: s 3
Dime el nombre de la tapa:  o
Dime el precio unitario de la tapa:  4
Dime la cantidad vendida de: o 4
Dime el nombre de la tapa:  t
Dime el precio unitario de la tapa:  5
Dime la cantidad vendida de: t 5
Dime el nombre de la tapa:  y
Dime el precio unitario de la tapa:  6
Dime la cantidad vendida de: y 6

[('s', 3.0, 3.0), ('o', 4.0, 4.0), ('t', 5.0, 5.0), ('y', 6.0, 6.0)]

In [3]:
%run ejercicio3.py

{1: {'nombre': 'Ana García', 'telefono': 611223344, 'fecha': '2025-03-15', 'personas': 4, 'mesa': 5}, 2: {'nombre': 'Luis Martínez', 'telefono': 622334455, 'fecha': '2025-03-15', 'personas': 2, 'mesa': 3}, 3: {'nombre': 'Maria López', 'telefono': 633445566, 'fecha': '2025-03-15', 'personas': 6, 'mesa': 8}, 4: {'nombre': 'Carlos Ruiz', 'telefono': 644556677, 'fecha': '2025-03-16', 'personas': 3, 'mesa': 4}, 5: {'nombre': 'Laura Fernández', 'telefono': 655667788, 'fecha': '2025-11-14', 'personas': 5, 'mesa': 6}, 6: {'nombre': 'Javier Morales', 'telefono': 666778899, 'fecha': '2025-11-14', 'personas': 2, 'mesa': 2}, 7: {'nombre': 'Elena Sánchez', 'telefono': 677889900, 'fecha': '2025-11-14', 'personas': 8, 'mesa': 10}, 8: {'nombre': 'Pablo Torres', 'telefono': 688990011, 'fecha': '2025-11-14', 'personas': 3, 'mesa': 1}, 9: {'nombre': 'Carmen Díaz', 'telefono': 699100122, 'fecha': '2025-11-14', 'personas': 4, 'mesa': 7}, 10: {'nombre': 'Antonio Navarro', 'telefono': 600111222, 'fecha': '2025-03-18', 'personas': 2, 'mesa': 9}, 11: {'nombre': 'Sara Ramos', 'telefono': 611222333, 'fecha': '2025-03-19', 'personas': 6, 'mesa': 12}, 12: {'nombre': 'David Ortega', 'telefono': 622333444, 'fecha': '2025-03-19', 'personas': 5, 'mesa': 11}, 13: {'nombre': 'Isabel Romero', 'telefono': 633444555, 'fecha': '2025-03-19', 'personas': 3, 'mesa': 4}, 14: {'nombre': 'Francisco Vega', 'telefono': 644555666, 'fecha': '2025-03-20', 'personas': 2, 'mesa': 2}, 15: {'nombre': 'Patricia Castro', 'telefono': 655666777, 'fecha': '2025-03-20', 'personas': 7, 'mesa': 9}, 16: {'nombre': 'Raúl Herrera', 'telefono': 666777888, 'fecha': '2025-03-20', 'personas': 4, 'mesa': 5}, 17: {'nombre': 'Sonia León', 'telefono': 677888999, 'fecha': '2025-03-21', 'personas': 5, 'mesa': 6}, 18: {'nombre': 'Manuel Gil', 'telefono': 688999000, 'fecha': '2025-03-21', 'personas': 2, 'mesa': 1}, 19: {'nombre': 'Lucía Medina', 'telefono': 699000111, 'fecha': '2025-03-21', 'personas': 3, 'mesa': 8}, 20: {'nombre': 'Andrés Pérez', 'telefono': 600123456, 'fecha': '2025-03-22', 'personas': 6, 'mesa': 10}}

TypeError: 'builtin_function_or_method' object is not iterable