In [4]:
import pandas as pd
df = pd.read_csv("5_transaction_data_new.csv")
df.head(10)

,Transaction ID,Sender Account ID,Receiver Account ID,Transaction Amount,Transaction Type,Timestamp,Transaction 2025,Status,Fraud Flag,Geolocation Latitud,Geolocation Longitude,Latency (ms),Slice Bandwidth (Mbps),Unnamed: 13
0,TXN9520068950,ACC14994,ACC16656,495.90,Deposit,17/01/2025 10:14,Failed,True,34.0522 N,-74.006 W,Desktop,10,179,NaN
1,TXN9412011085,ACC58958,ACC32826,529.62,Withdrawal,17/01/2025 10:51,Success,False,35.6895 N,-118.2437 W,Mobile,11,89,NaN
2,TXN4407425052,ACC56321,ACC92481,862.47,Withdrawal,17/01/2025 10:50,Failed,False,48.8566 N,2.3522 W,Mobile,4,53,NaN
3,TXN2214150284,ACC48650,ACC76457,1129.88,Transfer,17/01/2025 10:56,Success,True,34.0522 N,-74.006 W,Mobile,10,127,NaN
4,TXN4247571145,ACC60921,ACC11419,933.24,Deposit,17/01/2025 10:25,Success,True,55.7558 N,37.6173 W,Mobile,20,191,NaN
5,TXN2515439857,ACC18381,ACC76710,449.56,Withdrawal,17/01/2025 10:01,Failed,False,35.6895 N,139.6917 W,Desktop,14,191,NaN
6,TXN2169752734,ACC43792,ACC51105,72.97,Withdrawal,17/01/2025 10:25,Success,True,55.7558 N,2.3522 W,Mobile,5,216,NaN
7,TXN3109277527,ACC48227,ACC93536,1135.80,Deposit,17/01/2025 10:56,Failed,True,48.8566 N,-118.2437 W,Mobile,11,69,NaN
8,TXN4541918858,ACC10284,ACC24018,1154.59,Withdrawal,17/01/2025 10:38,Success,False,40.7128 N,-118.2437 W,Mobile,6,151,NaN
9,TXN4229370499,ACC11531,ACC53580,683.48,Transfer,17/01/2025 10:55,Success,True,34.0522 N,2.3522 W,Mobile,19,213,NaN