In [1]:
%run ejercicio1.py

Nombre: Paco - Salario base: 200
Nombre: Juan - Salario base: 230 - Ventas: [50, 50] - Salario total: 240.0
Nombre: Paco - Salario base: 215
Nombre: Juan - Salario base: 250 - Ventas: [50, 50, 20, 40] - Salario total: 266.0

In [3]:
%run ejercicio2.py

Introduce datos de 4 tapas típicas Sevillanas:
Introduce los datos de la tapa 1

Introduce el nombre de la tapa:  a
Introduce el precio unitario de la tapa:  10
Introduce la cantidad vendida de la tapa:  20

Introduce los datos de la tapa 2

Introduce el nombre de la tapa:  1
Introduce el precio unitario de la tapa:  1
Introduce la cantidad vendida de la tapa:  1

Introduce los datos de la tapa 3

Introduce el nombre de la tapa:  3
Introduce el precio unitario de la tapa:  3
Introduce la cantidad vendida de la tapa:  3

Introduce los datos de la tapa 4

Introduce el nombre de la tapa:  4
Introduce el precio unitario de la tapa:  4
Introduce la cantidad vendida de la tapa:  4

{'a': (200.0, 20.0, 'Media'), '1': (1.0, 0.1, 'Baja'), '3': (9.0, 0.9, 'Baja'), '4': (16.0, 1.6, 'Baja')}
([], 5.65, 'a')

In [4]:
%run ejercicio3.py

[{'id': '1', 'nombre': 'Ana García', 'telefono': '611223344', 'fecha': '2025-03-15', 'personas': '4', 'mesa': '5'}, {'id': '2', 'nombre': 'Luis Martínez', 'telefono': '622334455', 'fecha': '2025-03-15', 'personas': '2', 'mesa': '3'}, {'id': '3', 'nombre': 'Maria López', 'telefono': '633445566', 'fecha': '2025-03-15', 'personas': '6', 'mesa': '8'}, {'id': '4', 'nombre': 'Carlos Ruiz', 'telefono': '644556677', 'fecha': '2025-03-16', 'personas': '3', 'mesa': '4'}, {'id': '5', 'nombre': 'Laura Fernández', 'telefono': '655667788', 'fecha': '2025-11-14', 'personas': '5', 'mesa': '6'}, {'id': '6', 'nombre': 'Javier Morales', 'telefono': '666778899', 'fecha': '2025-11-14', 'personas': '2', 'mesa': '2'}, {'id': '7', 'nombre': 'Elena Sánchez', 'telefono': '677889900', 'fecha': '2025-11-14', 'personas': '8', 'mesa': '10'}, {'id': '8', 'nombre': 'Pablo Torres', 'telefono': '688990011', 'fecha': '2025-11-14', 'personas': '3', 'mesa': '1'}, {'id': '9', 'nombre': 'Carmen Díaz', 'telefono': '699100122', 'fecha': '2025-11-14', 'personas': '4', 'mesa': '7'}, {'id': '10', 'nombre': 'Antonio Navarro', 'telefono': '600111222', 'fecha': '2025-03-18', 'personas': '2', 'mesa': '9'}, {'id': '11', 'nombre': 'Sara Ramos', 'telefono': '611222333', 'fecha': '2025-03-19', 'personas': '6', 'mesa': '12'}, {'id': '12', 'nombre': 'David Ortega', 'telefono': '622333444', 'fecha': '2025-03-19', 'personas': '5', 'mesa': '11'}, {'id': '13', 'nombre': 'Isabel Romero', 'telefono': '633444555', 'fecha': '2025-03-19', 'personas': '3', 'mesa': '4'}, {'id': '14', 'nombre': 'Francisco Vega', 'telefono': '644555666', 'fecha': '2025-03-20', 'personas': '2', 'mesa': '2'}, {'id': '15', 'nombre': 'Patricia Castro', 'telefono': '655666777', 'fecha': '2025-03-20', 'personas': '7', 'mesa': '9'}, {'id': '16', 'nombre': 'Raúl Herrera', 'telefono': '666777888', 'fecha': '2025-03-20', 'personas': '4', 'mesa': '5'}, {'id': '17', 'nombre': 'Sonia León', 'telefono': '677888999', 'fecha': '2025-03-21', 'personas': '5', 'mesa': '6'}, {'id': '18', 'nombre': 'Manuel Gil', 'telefono': '688999000', 'fecha': '2025-03-21', 'personas': '2', 'mesa': '1'}, {'id': '19', 'nombre': 'Lucía Medina', 'telefono': '699000111', 'fecha': '2025-03-21', 'personas': '3', 'mesa': '8'}, {'id': '20', 'nombre': 'Andrés Pérez', 'telefono': '600123456', 'fecha': '2025-03-22', 'personas': '6', 'mesa': '10'}]

IntegrityError: (1062, "Duplicate entry '1' for key 'reserva.PRIMARY'")