In [1]:
%run ej1.py

Nombre: Juan - Salario base: 100
Nombre: Juan - Salario base: 100
Nombre: Maria - Salario base: 300 - Ventas: 100 - Salario total: 310.0
Nombre: Angel - Salario base: 200 - Ventas: 150 - Salario total: 215.0
Nombre: Juan - Salario base: 100
Nombre: Juan - Salario base: 100
Nombre: Maria - Salario base: 300 - Ventas: 250 - Salario total: 325.0
Nombre: Angel - Salario base: 200 - Ventas: 150 - Salario total: 215.0

In [67]:
%run ej2.py

{'Serranito': (110000.0, 11000.0, 'Alta'), 'Ensaladilla rusa': (396.0, 39.6, 'Alta'), 'Montadito': (1200.0, 120.0, 'Alta'), 'Nosemas': (246000.0, 24600.0, 'Alta')}

In [2]:
%run ej3.py

[['1', 'Ana García', '611223344', '2025-03-15', '4', '5'], ['2', 'Luis Martínez', '622334455', '2025-03-15', '2', '3'], ['3', 'Maria López', '633445566', '2025-03-15', '6', '8'], ['4', 'Carlos Ruiz', '644556677', '2025-03-16', '3', '4'], ['5', 'Laura Fernández', '655667788', '2025-11-14', '5', '6'], ['6', 'Javier Morales', '666778899', '2025-11-14', '2', '2'], ['7', 'Elena Sánchez', '677889900', '2025-11-14', '8', '10'], ['8', 'Pablo Torres', '688990011', '2025-11-14', '3', '1'], ['9', 'Carmen Díaz', '699100122', '2025-11-14', '4', '7'], ['10', 'Antonio Navarro', '600111222', '2025-03-18', '2', '9'], ['11', 'Sara Ramos', '611222333', '2025-03-19', '6', '12'], ['12', 'David Ortega', '622333444', '2025-03-19', '5', '11'], ['13', 'Isabel Romero', '633444555', '2025-03-19', '3', '4'], ['14', 'Francisco Vega', '644555666', '2025-03-20', '2', '2'], ['15', 'Patricia Castro', '655666777', '2025-03-20', '7', '9'], ['16', 'Raúl Herrera', '666777888', '2025-03-20', '4', '5'], ['17', 'Sonia León', '677888999', '2025-03-21', '5', '6'], ['18', 'Manuel Gil', '688999000', '2025-03-21', '2', '1'], ['19', 'Lucía Medina', '699000111', '2025-03-21', '3', '8'], ['20', 'Andrés Pérez', '600123456', '2025-03-22', '6', '10']]

IntegrityError: (1062, "Duplicate entry '1' for key 'reserva.PRIMARY'")